<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fhir -->
      <package
            uri="http://hl7.org/fhir"
            class="org.hl7.emf.fhir.FhirPackage"
            genModel="model/fhir.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated fhir -->
      <parser
            type="fhir"
            class="org.hl7.emf.fhir.util.FhirResourceFactoryImpl"/>
   </extension>

</plugin>
